@font-face{
    font-family: "Jacques_Francois_Shadow";
    src: url(JacquesFrancoisShadow-Regular.ttf);
}
@font-face{
    font-family: "Original_Surfer";
    src: url(OriginalSurfer-Regular.ttf);
}
@font-face{
    font-family: "Play";
    src: url(Play-Regular.ttf);
}
h3{
    font-family: Jacques_Francois_Shadow;
}
.p1{
    font-family: Original_Surfer;
}
.p2{
    font-family: Play;
    text-align: justify;
}